@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


*{
    margin: 0;
}

/* layout */
.a-cce{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    padding: 0 5px;
    text-decoration: none;
}

.a-cce:hover{
    color: #da7b29;
}

.a-nav{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    padding: 0 15px;
    text-decoration: none;
}

.a-nav:hover{
    color: #da7b29;
}

#app-mobile{
    display: flex;
    flex-direction: column;
}

#app-mobile h4{
    color: #da7b29;
    font-family: 'Bebas Neue', cursive;
    font-size: 340%;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}

#app-mobile img{
    filter: grayscale(100%) brightness(2);
    height: 50px;
    margin: 0 0 15px 0;
}

#app-mobile img:hover{
    filter: grayscale(0%);
}

#criar-conta-entrar{
    align-items: center;
    background-color: #da7b29;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    height: 35px;
}

#criar-conta-entrar:hover{
    background-color: white;
}

#footer-down{
    align-items: center;
    background-color: #000000;
    color: white;
    display: flex;
    font-size: x-large;
    height: 35px;
    justify-content: center;
}

#footer-main{
    align-items: center;
    background-color: #341773;
    display: flex;
    justify-content: space-around;    
    padding: 20px;
}

#img-nav{
    align-items: center;
    display: flex;
    margin: 0 0 0 15px;
}

#itens-nav{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#space{
    height: 75px;
}

#redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 0 0;
}

#redes-sociais img{
    filter: grayscale(100%) brightness(2);
    height: 50px;
    margin: 0 25px;
}

#redes-sociais img:hover{
    filter: grayscale(0%);
}

nav{
    background-color: #341773;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    width: 100%;
}



/* Home */

.content-home{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    padding: 0 8%;
    width: 50%;
}

.img-home{
    align-items: center;
    display: flex;
}

#section1-home{
    align-items: center;
    background-color: #341773;
    border-radius: 0 0 0 150px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
}

#section1-home h1{
    font-size: 240%;
    margin: 0 0 20% 0;
}

#section2-home{
    align-items: center;
    background-color: white;
    color: #341773;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
}

#section3-home{
    align-items: center;
    background-color: #f1b807;
    color: #341773;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
}

#section4-home{
    align-items: center;
    background-color: #ffffff;
    color: #341773;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
}

#section5-home{
    align-items: center;
    background-color: #a6329d;
    color: #341773;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
}