{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="section1-cadastre-produto">

        <div id="content-cadastre-produto">
            
            <h3>Cadastre um Produto</h3>
           
            {% if formulario %}
            <form method="POST">
                {% csrf_token %}
                {{formulario}}
                <button>Enviar</button>
            </form>
            {% endif %}

            {% if msg %}
                <h3>{{msg}}</h3>
                <a href="/cadastre/produto"><h2>Cadastra um novo produto</h2></a>
            {% endif %}
        </div>
        
    </section>

{% endblock %}