{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="section1-cadastre">
        <div class="content-home">
            <h1>EconomizaEconomiza</h1>
            <h2>Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma ameaça pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses.</h2>
        </div>

        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

{% endblock %}