{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="section1-cadastre-comercio">

        <div id="content-cadastre-comercio">
            
            {% if formulario %}

                <h3>Cadastre um Comércio</h3>

                <form method="POST" id="form-comercio">
                    {% csrf_token %}
                    {{formulario}}
                    <button>Cadastrar Comércio</button>
                </form>

            {% endif %}

            {% if msg %}
                <h3>Comércio cadastrado com Sucesso</h2>
                
                <div id="pos-comercio-cadastrado">
                    <a href="/cadastre/comercio"><h2 class="pos">Cadastra novo comércio <br></h2></a>
                    <a href="/cadastre/produto"><h2 class="pos">Cadastra um produto</h2></a>
                </div>
                

            {% endif %}
        </div>
        
    </section>

{% endblock %}