{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="section1-cadastre-comercio">

        <div id="content-cadastre-comercio">
            
            <h3>Cadastre um Comércio</h3>
            
            {% if formulario %}
            <form method="POST">
                {% csrf_token %}
                {{formulario}}
                <button>ENVIAR</button>
            </form>
            {% endif %}

            {% if msg %}
            <h2>Comércio cadastrado com Sucesso</h2>
            {% endif %}
        </div>
        
    </section>

{% endblock %}