{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="section1-home">
        <div class="content-home">
            <h1>Economizar nas suas compras nunca foi tão simples e prático. </h1>
            <h2>CONHEÇA O ECONOMIZA</h2>
        </div>

        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

    <section id="section2-home">
        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>

        <div class="content-home">
            <h3>Todos as descrições das pessoas são sobre a humanidade do atendimento, a pessoa pega no pulso, examina, olha com carinho. Então eu acho que vai ter outra coisa, que os médicos cubanos trouxeram pro brasil, um alto grau de humanidade.</h3>
        </div>
    </section>

    <section id="section3-home">
        <div class="content-home">
            <h3>Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?</h3>
        </div>

        <div class="img-home">
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

    <section id="section4-home">
        <div id="img-section4">
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>

        <div class="content-home">
            <h3>Todos as descrições das pessoas são sobre a humanidade do atendimento, a pessoa pega no pulso, examina, olha com carinho. Então eu acho que vai ter outra coisa, que os médicos cubanos trouxeram pro brasil, um alto grau de humanidade.</h3>
        </div>
    </section>
    
    <section id="section5-home">
        <div class="content-home">
            <h3>Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?</h3>
        </div>
    
        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

    

{% endblock %}