{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="section1-home">
        <div class="content-home">
            <h1>Economizar nas suas compras nunca foi tão simples e prático. </h1>
            <h2>CONHEÇA O ECONOMIZA</h2>
        </div>

        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

    <section id="section2-home">
        <div>
            <img src="{% static 'img/img-smartphone2.png' %}" alt="">
        </div>

        <div class="content-home">
            <h3>O Economiza é para você que quer economizar no mercado, sem ter que perder tempo coletando panfletos e fazendo pesquisas, para descobrir onde poderá comprar os itens da sua lista de compras pelo menor.</h3>
        </div>
    </section>

    <section id="section3-home">
        <div class="content-home">
            <h3 class="white">Mantenha sempre sua lista de compras atualizada, e saiba em qual mercado, proximo da sua casa, trabalho ou local favorito, você poderá comprar os itens dela economizando de verdade.</h3>
        </div>

        <div class="img-home">
            <img src="{% static 'img/img-smartphone3.png' %}" alt="">
        </div>
    </section>

    <section id="section4-home">
        <div id="img-section4">
            <img src="{% static 'img/img-smartphone4.png' %}" alt="">
        </div>

        <div class="content-home">
            <h3>O Economiza não depende exclusivamente dos usuários para atualizar os preços dos produtos, pois os preços são atualizados por comércios parceiros, garantido sempre os preços atualizados. Mas se seu mercado favorito não for nosso parceiro você pode contribuir atualizando os preços e ganhando descontos exclusivos.</h3>
        </div>
    </section>
{% endblock %}