{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="conheca-economiza">
        <div>
            <h1>EconomizaEconomiza</h1>
            <h2>Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma ameaça pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses.</h2>
        </div>

        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

    <section>
        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>

        <div>
            <h3>Todos as descrições das pessoas são sobre a humanidade do atendimento, a pessoa pega no pulso, examina, olha com carinho. Então eu acho que vai ter outra coisa, que os médicos cubanos trouxeram pro brasil, um alto grau de humanidade.</h3>
        </div>
    </section>

    <section>
        <div>
            <h3>Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?</h3>
        </div>

        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

    <section>
        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>

        <div>
            <h3>Todos as descrições das pessoas são sobre a humanidade do atendimento, a pessoa pega no pulso, examina, olha com carinho. Então eu acho que vai ter outra coisa, que os médicos cubanos trouxeram pro brasil, um alto grau de humanidade.</h3>
        </div>
    </section>
    
    <section>
        <div>
            <h3>Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?</h3>
        </div>
    
        <div>
            <img src="{% static 'img/img-smartphone.png' %}" alt="">
        </div>
    </section>

    

{% endblock %}