{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Economiza</title>
</head>
<body>
    <nav>
        <div id="img-nav">
            <img src="{% static 'img/logo_economiza_pequena.png' %}" alt="">
        </div>

        <div id="itens-nav">
            <a href="#" class="a-nav">home</a>
            <a href="#" class="a-nav">cadastre</a>
            <a href="#" class="a-nav">criar lista</a>
            <a href="#" class="a-nav">simulador</a>
            <div id="criar-conta-entrar">
                <a href="#" class="a-cce">entrar - criar conta</a>
            </div>
        </div>

    </nav>

    {% block content %}

    {% endblock %}

    <footer>
        <section>
            <div>
                <h4>em breve</h4>
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div>

            <img src="" alt="">

                <div id="redes-sociais">
                    <div>
                        <img src="" alt="">
                    </div>
    
                    <div>
                        <img src="" alt="">
                    </div>
    
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h6>Erick EMAS</h6>
        </section>
    </footer>

</body>
</html>