<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Economiza</title>
</head>
<body>
    <nav>
        <img src="" alt="">

        <a href="#">home</a>
        <a href="#">cadastre</a>
        <a href="#">criar lista</a>
        <a href="#">simulador</a>
        <div>
            <a href="#">criar conta</a>
            <a href="#">entrar</a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
        <section>
            <div>
                <h4>em breve</h4>
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div>

            <img src="" alt="">

                <div id="redes-sociais">
                    <div>
                        <img src="" alt="">
                    </div>
    
                    <div>
                        <img src="" alt="">
                    </div>
    
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h6>Erick EMAS</h6>
        </section>
    </footer>

</body>
</html>