{% extends 'layout.html' %}

{% load static %}

{% block content %}

    <section id="section1-minha-lista">

        <div id="content-minha-lista">
            
            <h3>Minha Lista de Compra</h3>

            <div id="novo_item">
                <img src="{% static 'img/plus_icon.png' %}" alt="">
                <h4>Adicionar novo item a lista de compra</h4>
            </div>

            <form action="">
            
            </form>

        </div>
        
    </section>

{% endblock %}