@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
}

/* layout */

nav{
    background-color: #341773;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 5px;
}

#img-nav{
    align-items: center;
    display: flex;
    margin: 0 0 0 1px;
}

.menu{
    display: none;
}

.active{
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    opacity: .95;
    outline: none;
    z-index: 20;
    background-color: #341773;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    font-size: 8vw;
    text-align: start;
}

.a-nav{
    color: white;
    margin: 2.5vw;
    text-transform: uppercase;
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
}

.a-cce{
    color: #da7b29;
    font-size: 4vw;
    text-transform: uppercase;
    margin: 2.5vw;
    font-family: 'Bebas Neue', cursive;
}

#space{
    height: 52px;
}


/* . */
.open-nav{
    position: fixed;
    right: 10px;
    top: 12px;
    display: block;
    width: 40px;
    height: 30px;
    background: none;
    z-index: 101;
    outline: 0;
}

.open-nav .line{
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ffffff;
    right: 0;
    border-radius: 5px;
    outline: 0;
}

#line1{
    transition: .5s linear;
    top: 0;
}

#line2{
    transition: .8s linear;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 1;
}

#line3{
    transition: .5s linear;
    bottom: 0;
}

.close #line1{
    transition: .5s linear;
    transform: rotate(-39deg) translate(-10px,8px);;   
}

.close #line2{
    transition: .8s ;
    right: 100%;
    opacity: 0;
}

.close #line3{
    transition: .5s linear;
    transform: rotate(39deg) translate(-10px,-9px);
}

footer{
    width: 100%;
}

#app-mobile h4{
    color: #da7b29;
    font-family: 'Bebas Neue', cursive;
    font-size: 240%;
    margin: 15px 0 10px 0;
    text-transform: uppercase;
    text-align: center;
}

#app-mobile img{
    filter: grayscale(100%) brightness(2);
    height: 50px;
    margin: 0 0 15px 0;
}

#app-mobile img:hover{
    filter: grayscale(0%);
}

#footer-main{
    align-items: center;
    background-color: #341773;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;    
    padding: 20px;
}

#redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 0 0;
}

#redes-sociais img{
    filter: grayscale(100%) brightness(2);
    height: 50px;
    margin: 0 25px;
}

#redes-sociais img:hover{
    filter: grayscale(0%);
}

#footer-down{
    align-items: center;
    background-color: #000000;
    color: white;
    display: flex;
    font-size: x-large;
    height: 35px;
    justify-content: center;
}

/* home */

.content-home{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    padding: 0 8%;
    width: 80%;
}

#section1-home{
    align-items: center;
    background-color: #341773;
    border-radius: 0 0 0 150px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column-reverse;
}

#section1-home h1{
    font-size: 500%;
    margin: 0 0 20% 0;
}

#section2-home{
    align-items: center;
    background-color: white;
    color: #341773;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

#section3-home{
    align-items: center;
    background-color: #f1b807;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column-reverse;
}

#section4-home{
    align-items: center;
    background-color: #ffffff;
    color: #341773;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

#section5-home{
    align-items: center;
    background-color: #a6329d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column-reverse;
}

/* Cadastre */

#section1-cadastre{
    align-items: center;
    background-color: #f1b807;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    height: 80vh;
    justify-content: center;
    width: 100%;
}

#section1-cadastre a{
    text-decoration: none;
}

#produto-cadastre{
    align-items: center;
    border-radius: 10px;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    color: #ffffff;
    display: flex;
    height: 25vh;
    justify-content: center;
    margin: 2vh 0 4vh 0;
    text-shadow: rgba(0, 0, 0, .5) 2px 2px;
    width: 80vw;
    text-align: center;
}

#produto-cadastre:hover{
    color: #341773;
    border: solid #341773;
}

#comercio-cadastre{
    align-items: center;
    border-radius: 10px;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    color: #ffffff;
    display: flex;
    height: 25vh;
    justify-content: center;
    margin: 4vh 0 2vh 0;
    text-shadow: rgba(0, 0, 0, .5) 2px 2px;
    width: 80vw;
    text-align: center;
}

#comercio-cadastre:hover{
    color: #341773;
    border: solid #341773;
}

.pos{
    color: #000000;
    margin: 8vh;
    border: #000000 solid 2px;
}

.pos:hover{
    color: #f1b807;
    border: #f1b807 solid 2px;
}

/* cadastre-comercio */

#section1-cadastre-comercio{
    background-color: #f1b807;
    display: flex;
    justify-content: center;
    width: 100%;
}

#content-cadastre-comercio{
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    max-height: 100%;
    justify-content: flex-start;
    margin: 5% 0 0 0;
    width: 80vw;
}

#content-cadastre-comercio h3{
    color: #a6329d;
    font-size: 300%;
    text-align: center;
}

#form-comercio{
    display: flex;
    color: #000000;
    flex-direction: column;
    width: 80%;
    font-size: 3vh;
    margin: 5vh 0;
}

#form-comercio input{
    height: 3vw;
    margin: 1vh 0;
    font-size: 2.5vw;
}

#form-comercio select{
    height: 3vw;
    font-size: 2.5vw;
    margin: 1vh 0;
}

#form-comercio button{
    color: white;
    font-size: 5vw;
    background-color: #797979;
    height: 8vh;
    margin: 5vh 0;
}

#form-comercio button:hover{
    background-color: #a6329d;
}

#pos-comercio-cadastrado{
    display: flex;
}

/* cadastre-produto */

#section1-cadastre-produto{
    background-color: #f1b807;
    display: flex;
    justify-content: center;
    width: 100%;
}

#content-cadastre-produto{
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    max-height: 100%;
    justify-content: flex-start;
    margin: 5% 0 0 0;
    width: 80vw;
}

#content-cadastre-produto h3{
    color: #a6329d;
    font-size: 300%;
    text-align: center;
}

#form-produto{
    display: flex;
    color: #000000;
    flex-direction: column;
    width: 80%;
    font-size: 3vh;
    margin: 5vh 0;
}

#form-produto input{
    height: 3vw;
    margin: 1vh 0;
    font-size: 2.5vw;
}

#form-produto select{
    height: 3vw;
    font-size: 2.5vw;
    margin: 1vh 0;
}

#form-produto button{
    color: white;
    font-size: 5vw;
    background-color: #797979;
    height: 8vh;
    margin: 5vh 0;
}

#form-produto button:hover{
    background-color: #a6329d;
}

#pos-produto-cadastrado{
    display: flex;
}

/* minha lista */

#section1-minha-lista{
    background-color: #f29627;
    display: flex;
    justify-content: center;
}

#content-minha-lista{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    margin: 5vh 0 0 0;
    width: 80vw;
}

#content-minha-lista{
    color: #341773;
    font-size: 4vw;
}

#novo-item{
    align-items: center;
    color: #000000;
    display: flex;
    font-size: 3vw;
    justify-content: center;
    margin: 25px 0 0 0;
}

#novo-item:hover{
    color: #a6329d;
}

#novo-item:hover img{
    filter: grayscale(100%) brightness(.1);
}

#novo-item img{
    height: 50px;
    margin: 0 25px 0 0;
}

/* novo item */

#section1-novo-item{
    background-color: #f29627;
    display: flex;
    justify-content: center;
}

#content-novo-item{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    color: #341773;
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    height: 100vh;
    justify-content: flex-start;
    margin: 5vh 0 0 0;
    width: 80vw;
}

/* login */

#section1-login{
    align-items: center;
    background-color: #f29627;
    color: #ffffff;
    display: flex;
    font-size: 4vw;
    justify-content: center;
    padding: 5vh 0 0 0;
}

#section2-login{
    background-color: #f29627;
    display: flex;
    justify-content: center;
}

#content-login{
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    display: flex;
    flex-direction: column;
    height: 80vw;
    margin: 5vh 0 5vw 0;
    justify-content: flex-start;
    width: 80vw;
}

#content-login img{
    width: 30vw;
    margin: 5vh 0 5vh 0;
}

#content-login button{
    color: white;
    font-size: 2vw;
    background-color: #a6329d;
    width: 35vw;
    height: 5vh;
}

#content-login a{
    color: #a6329d;
}

#content-login h5{
    margin: inherit;
    font-size: 2.5vw;
}

/* cadatro usuario */

#section1-cadastro-user{
    align-items: center;
    background-color: #f29627;
    color: #ffffff;
    display: flex;
    font-size: 4vw;
    justify-content: center;
    padding: 5vh 0 0 0;
}

#section2-cadastro-user{
    background-color: #f29627;
    display: flex;
    justify-content: center;
}

#content-cadastro-user{
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5) 2px 2px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    max-height: 100%;
    margin: 5vh 0 5vw 0;
    justify-content: flex-start;
    width: 80vw;
}

#content-cadastro-user img{
    width: 30vw;
    margin: 5vh 0 5vh 0;
}

#content-cadastro-user button{
    color: white;
    font-size: 2vw;
    background-color: #a6329d;
    width: 100%;
    height: 5vh;
}

#content-cadastro-user a{
    color: #a6329d;
}

#content-cadastro-user h5{
    margin: inherit;
    font-size: 2.5vw;
}

#form-cadastro-user{
    display: flex;
    color: #000000;
    flex-direction: column;
    width: 80%;
    font-size: 3vh;
    margin: 5vh 0;
}

#form-cadastro-user input{
    height: 3vw;
    margin: 1vh 0;
    font-size: 2.5vw;
}

#form-cadastro-user span{
    display: none;
}

#form-cadastro-user ul{
    margin: 5% 0;
    color: #ff0000;
    font-size: 80%;
}

#form-cadastro-user button{
    color: white;
    font-size: 2vw;
    background-color: #797979;
    height: 8vh;
    margin: 5vh 0;
}

#form-cadastro-user button:hover{
    background-color: #a6329d;
}